// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'comments';

.article-button {
  padding: 10px 10px;
  text-align: right;
}

.article-content {
  padding: 10px
}

.article-image {
  padding: 12px
}

input[type='file'] {
  border: 1px solid #d1d1d1;
  padding: .5em;
  border-radius: .3em;
  width: 100%;
}
